.color-line::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  width: 600px; /* Adjust the width of the line */
  height: 100%; /* Set the height to 100% to cover the entire container */
  /*background-color: #974646; Set the color of the line */
}